//
// BT-VARIABLES
// --------------------------------------------------

//== BT Colors
//
//## Colors used for this micro-site

$bt-black:              #1a1a1a;
$bt-white:              #f2f2f2;
$bt-blue:               #55aaff;
$bt-gray:               #808080;