//
// BT-CUSTOM
// --------------------------------------------------

body {
  border: 15px solid $bt-white;
}

@media (max-width: $screen-sm-max) {

 }

 //*********
 // HEADER
 //*********

.header {
  text-align: center;
  font-family: "franklin-gothic-urw";
  color: $bt-white;
  letter-spacing: 1px;
  padding: 30px 0;
}

.header__logo {
  font-weight: 900;
  letter-spacing: 8px;
  font-size: 18px;
  line-height: 22px;
  display: block;
  text-transform: uppercase;
}

.header__divider {
  border-bottom: 1px solid $bt-white;
  width: 50px;
  height: 10px;
  margin-bottom: 5px;
  display: inline-block;
}

.header__tag {
  font-weight: 300;
  font-size: 12px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 3px;
}

 //*********
 // TABS
 //*********

.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid $bt-gray;
  border-bottom: 1px solid $bt-gray;
  font-family: "franklin-gothic-urw";
  letter-spacing: 3px;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  @media (max-width: $screen-sm-max) {
    font-size: 11px;
 }
}

.tabs__item {
  @extend .col-xs-6;
  text-align: center;
  padding: 10px 0;
  transition: color .5s ease;

  a {
    color: $bt-gray;
    text-decoration: none;
    transition: color .5s ease;

  }
  a:hover {
    color: darken($bt-gray, 20%);
  }

  &:last-child {
    border-left: 1px solid $bt-gray;
  }


}

.tabs__item.active a {
  color: $bt-blue;
}

 //*********
 // LIST / TAB CONTENT
 //*********

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list__item {
  float: left;
  border-bottom: 1px solid $bt-gray;
  width: 100%;
  transition: background .5s ease;
  &:hover {
    background-color: rgba(240, 240, 240, 0.10);
  }
  @media (max-width: $screen-sm-max) {
    padding: 5px 0;
 }
}

.bundle {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bundle__item {
  float: left;
  line-height: 75px;
  text-transform: uppercase;
  list-style: none;
  @media (max-width: $screen-sm-max) {
    line-height: 26px;
 }
}

.bundle__item--num {
  font-size: 12px;
  color: $bt-gray;
  font-family: "letter-gothic-std",sans-serif;
  width: 100px;
  @media (max-width: $screen-sm-max) {
    display: none;
 }
}

.bundle__item--order {
  font-family: "franklin-gothic-urw";
  color: $bt-gray;
  font-size: 18px;
  width: 30px;
  text-align: right;
  font-weight: 900;
  @media (max-width: $screen-sm-max) {
    width: auto;
    font-size: 11px;
 }
}

.bundle__item--title, {
  font-family: "alternate-gothic-no-1-d";
  font-size: 50px;
  margin-left: 30px;
  position: relative;
  top: 4px;
  letter-spacing: 3.9px;
  transition: color .5s ease;
  color: $bt-white;
  &:hover {
    color: darken($bt-white, 20%);
  }
  @media (max-width: $screen-sm-max) {
    font-size: 20px;
    float: none;
    margin-left: 20px;
 }
}

.bundle__item--artist {
  font-family: "franklin-gothic-urw";
  font-weight: 900;
  font-size: 18px;
  color: $bt-blue;
  letter-spacing: 4px;
  margin-left: 30px;
  @media (max-width: $screen-sm-max) {
    font-size: 11px;
    margin-left: 20px;
 }
}

 //*********
 // BUTTON / CTA
 //*********
.cta {
  padding: 40px 0 100px;
  text-align: center;
}
.btn-bt {
  font-family: "franklin-gothic-urw";
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 900;
  background: none;
  border: 1px solid $bt-white;
  border-radius: 0;
  width: 200px;
  color: $bt-white;
  transition: color .5s ease;
  &:hover {
    color: darken($bt-white, 20%);
  }
  a {
    color: $bt-white;
  }

}

 //*********
 // LIGHTBOX
 //*********

.lightbox {
  display: none;
  width: 600px;
  height: 400px;
  @media (max-width: $screen-sm-max) {
    width: 100%;
 }
}

